<div>
    <table>
      <tbody>
        <tr>
          <td>First Name</td>
          <td>
            <input type="text" class="form-control" [(ngModel)] = "firstname" />
          </td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="lastname" />
          </td>
        </tr>
        <tr>
          <td>Salary</td>
          <td><input type="text" class="form-control" [(ngModel)]="salary" /></td>
        </tr>
        <tr>
          <td colspan="2" *ngIf="isAddUser">
            <button (click)="addUser()">Add User</button>
          </td>
        </tr>
        <tr>
          <td *ngIf="isUpdateUser"><button (click)="Update()">Update</button></td>
        </tr>
      </tbody>
    </table>
    <input type="hidden" class="form-control" [(ngModel)]="id" />
    <input type="hidden" class="form-control" [(ngModel)]="editId" />
    <table class="userlist">
      <tbody>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Actions</th>
  
        <tr *ngFor="let user of Users">
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.salary}}</td>
          <td>
            <button (click)="Edit(user)">Edit</button
            ><button (click)="Delete($event)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  